<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sampleshop.mapper.OrderDetailMapper">

	<insert id="insert" parameterType="OrderDetail">
		INSERT INTO order_detail VALUES (detail_code, #{order_code}, #{item_code}, #{cnt})
	</insert>
	<delete id="delete" parameterType="Integer">
		DELETE FROM order_detail WHERE detail_code=#{detail_code}
	</delete>
	<update id="update" parameterType="OrderDetail">
		UPDATE order_detail SET cnt=#{cnt} WHERE detail_code=#{detail_code}
	</update>
	<select id="select" parameterType="Integer" resultType="OrderDetail">
		SELECT * FROM order_detail WHERE detail_code=#{detail_code}
	</select>
	<select id="selectall" resultType="OrderDetail">
		SELECT * FROM order_detail
	</select>
	<select id="tot_price" parameterType="Order" resultType="Order">
		SELECT ord.order_code, sum(it.price*det.cnt) tot_price FROM order_detail det
		INNER JOIN `order` ord ON ord.order_code=det.order_code
		INNER JOIN item it ON it.item_code=det.item_code
		WHERE ord.order_code=#{order_code};
	</select>
</mapper>